{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
{% include "profile_navbar.html" %}
    <div class="row">
        <div class="col-md-4">
            <form id="password-change-form" role="form" method="post">{% csrf_token %}
                {{ form|crispy }}
                <div class="row" id="password-change-button">
                    <button type="submit" class="btn btn-success">Submit</button>
                    {% if args.password_error %}
                        {% if args.password_error == args.ok %}
                            <div style="color: green;" class="password-change-text">{{ args.password_error }}</div>
                        {% else %}
                            <div class="password-change-text">{{ args.password_error }}</div>
                        {% endif %}
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
