{% extends "base.html" %}
{% block content %}
<div class="container">
    {% include "profile_navbar.html" %}
    <div class="row">
        <div class="col-6">
            <h4 class="text-center profile-head-text">History</h4>
            <div  id="profile_history_block">
            {% if orders %}
                {% for order in orders %}
                <div class="container-fluid history-order">
                    <div class="mg-t5">{{order.0}}</div>
                    <ul class="mg-t10">
                    {% for product in order.1 %}
                        <li>{{product}} {{product.nmb}} шт - {{product.total_price}} ₴</li>
                    {% endfor %}
                    </ul>
                    <div class="text-right">{{order.0.created}}</div>
                    <div class="text-right mg-b5">{{order.0.total_price}} ₴</div>
                </div>
                {% endfor %}
            {% else %}
                <h5 class="text-center no-orders">No Orders</h5>
            {% endif %}
            </div>
        </div>
        <div class="col-6">
            <h4 class="text-center profile-head-text">Bonuses</h4>
            <h1 class="text-center">{{bonuses}}</h1>
        </div>
    </div>
</div>
{% endblock content %}
