{% extends "base.html" %}
{% block content %}
<div class="container">
    {% include "profile_navbar.html" %}
    <div class="row">
        <div class="col-md-6">
            <div id="personal_data">
                <h6>Username: {{user.0.username}}</h6>
                <h6>Phone: {{user.0.phone}}</h6>
                <h6>Address: {{user.0.address}}</h6>
            </div>
            <a class="btn btn-success" href="{% url 'loginsys:update-user' user.0.username %}">Edit</a>
        </div>
    </div>
</div>
{% endblock content %}