{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form role="form" class="register-form" method="post">{% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
      <button type="submit" class="btn btn-success">Register</button>
    </div>
</form>
{% endblock content %}