{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form role="form" method="post">{% csrf_token %}
    <div class="col-md-4">
    {{ form|crispy }}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Update</button>
        </div>
    </div>
</form>
{% endblock content %}
