#card-errors {
  color: red;
}
.delete-item {
    color: green;
}
.base-container {
    border: green solid 2px;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 25px;
    min-height: 700px;
}
form {
    margin-top: 15px;
}
.slider {
    border-radius: 10px;
}
.product-grid {
    background: papayawhip;
    padding: 10px;
    border: green solid 2px;
    border-radius: 5px;
}
.ad-grid {
    padding: 10px;
    border: green solid 2px;
    border-radius: 5px;
}
.img-cart {
    height: 60px;
    width: 74px;
    border-radius: 5px;
}
.form-error{
    color: red;
}
#profile_history_block {
    height: 500px;
    overflow: scroll;
}
.history-order {
    border: green solid 1px;
    margin-top: 10px;
    border-radius: 5px;
}
.no-orders, .empty-cart {
    margin-top: 150px;
    margin-bottom: 300px;
}
.profile-head-text, #personal_data {
    margin-top: 20px;
    margin-bottom: 20px;
}
#pay_btn {
    margin-top: 10px;
}
.custom-control-input:checked~.custom-control-label::before {
  color: green;
  border-color: green;
  background-color: green;
}
.no-items-in-cart-text {
    margin-top: 150px;
}
.bonuses, .final-price {
    margin-top: 50px;
}
#csrf_getting_form{
    display: none;
}
.main-nav {
    border-radius: 5px;
}
.profile-nav {
    border-radius: 5px;
}
.prod-sh-desc-block {
    margin-top: 5px;
}
.img_prod {
    border-radius: 5px;
}
.add-count {
   background: aquamarine;
}
.card-form {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 100px;
    margin-top: 300px;
}
.login-form, .register-form {
    width: 40%;
    margin-left: 30%;
    margin-top: 10%;
}
.register-btn {
    margin-left: 20px;
}
.password-change-text {
    color: red;
    padding-top: 8px;
    margin-left: 15px;
}
#password-change-button {
    margin-left: 0px;
}
#password-change-form {
    margin-bottom: 0px;
}
.mg-t5 {
    margin-top: 5px;
}
.mg-b5 {
    margin-bottom: 5px;
}
.mg-t10 {
    margin-top: 10px;
}
.mg-b10 {
    margin-bottom: 10px;
}
.mg-t15 {
    margin-top: 15px;
}
.mg-b15 {
    margin-bottom: 15px;
}
.mg-t20 {
    margin-top: 20px;
}
.mg-t30 {
    margin-top: 30px;
}
.mg-b20 {
    margin-bottom: 20px;
}
