{% extends "base.html" %}
{% load static %}
{% load static custom %}
{% block content %}
    <div class="container">
        <div class="row mg-t5">
            <div class="col-md-8 content">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    {% for image in images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img class="d-block w-100 slider mg-t20" src="{{ image.image.url }}" alt="{{forloop.counter}}">
                        </div>
                    {% endfor %}
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
            </div>
            <div class="col-md-4 content mg-t20">
                <h3>{{ product.name }}</h3>
                <div>
                    <p>{{ product.consist|firstword_filter }}:</p>
                    <ul>
                    {% for spec in product.consist|uppersplit_filter %}
                        <li>{{ spec }}</li>
                    {% endfor %}
                    </ul>
                    <p>{{ product.consist|lastword_filter }}</p>
                </div>
                <div>{{ product.price }} ₴</div>
                <div class="form-group">
                    <button type="submit" id="submit_btn" class="btn btn-success btn-buy mg-t20"
                        data-product_id = "{{ product.id }}"
                        data-name ="{{ product.name }}"
                        data-price ="{{ product.price }}"
                    >Add to Cart</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}