<div class="container products-container">
    <div class="row mg-b5">
        {% for product in products %}
        <div class="col-md-4 content">
            <div class="col-md-12 product-grid mg-t30" data-id="{{product.id}}">
                <img src="{{ product.main_image.url }}" class="img-fluid img_prod" alt="Responsive image">
                <div class="prod-sh-desc-block">
                    <div>{{ product.short_desc }}</div>
                    <div>{{ product.price }} ₴</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>