<nav class="navbar navbar-expand-md navbar-dark bg-dark main-nav">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'foodsys:menu01' %}">Burgers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'foodsys:menu02' %}">Salads & Brkfsts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'foodsys:menu03' %}">Soups</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'foodsys:menu04' %}">Desserts</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="{% url 'main:home' %}">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if username %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'loginsys:profile' %}">Profile</a>
            </li>
            {% endif %}
            <li class="nav-item">
                {% if username %}
                    <a class="nav-link" href="{% url 'loginsys:logout' %}">Logout ({{ username }})</a>
                {% else %}
                    <a class="nav-link" href="{% url 'loginsys:login' %}">Sign In</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ordersys:cart' %}">Cart<span id="cart_total_amount"></span><span id="cart_total_nmb">
                    {% if products_total_nmb %}
                        ({{ products_total_nmb }})
                    {% else %}
                        (0)
                    {% endif %}
                </span></a>
            </li>
        </ul>
    </div>
</nav>