{% extends "base.html" %}
{% load static %}
{% block js %}<script src="{% static 'js/payment.js' %}"></script>{% endblock js %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center mg-t30">Pay order by card</h3>
                <form id="payment-form" class="card-form" name="order">
                    <div id="card-element" class="mt-5 mb-5">
                    </div>
                    <div id="card-errors" class="mg-b15" role="alert"></div>
                    <button type="submit" data-username="{{ request.session.customer_username }}" class="btn btn-success btn-block" id="card-btn" data-secret="{{ client_secret }}">Pay</button>
                </form>
        </div>
    </div>
</div>
{% endblock content %}