{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        {% if products_in_cart %}
            <div class="col-md-12">
                <h3 class="text-center mg-t20 mg-b20">Products in cart</h3>
                <form class="form-horizontal" method="post">{% csrf_token %}
                    <table class="table">
                        <tr>
                            <th>Product</th>
                            <th></th>
                            <th>Number</th>
                            <th>Price per item</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        {% for product_in_cart in products_in_cart %}
                        <tr>
                            <td>
                               {{ product_in_cart.product.name }}
                            </td>
                            <td>
                                <img src="{{ product_in_cart.product.main_image.url }}" class="img-cart">
                            </td>
                            <td>
                               <span>{{ product_in_cart.nmb }}</span>
                            </td>
                            <td>
                                <span class="product-price">
                                    {{ product_in_cart.price_per_item }} ₴
                                </span>
                            </td>
                            <td>
                                <span class="total-product-in-cart-amount">
                                    {{ product_in_cart.total_price }} ₴
                                </span>
                            </td>
                            <td>
                                <a class="delete-item" href="#" data-product_id="{{product_in_cart.product.id}}" data-product_total_price="{{product_in_cart.total_price}}">X</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    <div class="text-right">
                        <b>Total price: </b> <span id="total_order_amount"></span> ₴
                    </div>
                    <br>
                    <div class="text-right">
                        <a class="btn btn-success" id="checkout_btn" href="{% url 'ordersys:checkout' %}">Checkout</a>
                    </div>
                </form>
            </div>
        {% else %}
        <div class="col-md-12 empty-cart">
            <h4 class="text-center no-items-in-cart-text">There are no items in your cart</h4>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}