{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" method="post">{% csrf_token %}
                <div class="form-group">
                    <label>Name*</label>
                    <span class="form-error">{{ form.username.errors }}</span>
                    <input type="text" name="{{ form.username.html_name }}" class="form-control" value="{{user.username}}">
                </div>
                <div class="form-group">
                    <label>Phone*</label>
                    <span class="form-error">{{ form.phone.errors }}</span>
                    <input type="text" name="{{ form.phone.html_name }}" class="form-control" {% if user.phone %}value="{{user.phone}}"{% else %}value="+380"{% endif %}>
                </div>
                <div class="form-group">
                    <label>Address*</label>
                    <span class="form-error">{{ form.address.errors }}</span>
                    <input type="text" name="{{ form.address.html_name }}" class="form-control" {% if user.address %}value="{{user.address}}"{% endif %}>
                </div>
                <div class="form-group">
                    <label>Comment</label>
                    <textarea name="comment" class="form-control" value="{{ request.POST.comment }}"></textarea>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="cashRadio" name="customRadio" class="custom-control-input" checked="checked" value="cashRadio">
                  <label class="custom-control-label" for="cashRadio">Pay order by Cash</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="bonusesRadio" name="customRadio" class="custom-control-input" value="bonusesRadio"
                     {% if not user.is_authenticated %}
                        disabled
                     {% endif %}>
                  <label class="custom-control-label" for="bonusesRadio">Pay order by Bonuses</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="cardRadio" name="customRadio" class="custom-control-input" value="cardRadio">
                  <label class="custom-control-label" for="cardRadio">Pay order by Card</label>
                </div>

                {% for product_in_cart in products_in_cart %}
                       <input hidden="true" value="{{ product_in_cart.nmb }}" type="number"
                              class="product-in-cart-nmb" name="product_in_cart_{{ product_in_cart.id }}">
                {% endfor %}

                <button class="btn btn-success" id="pay_btn">Confirm</button>
            </form>

        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    {% if user.is_authenticated %}
                    <h4 class="text-center bonuses">Bonuses: {{ user.bonuses }} ₴</h4>
                    {% endif %}
                    {% if no_bonuses %}
                        <h5 class="text-center" style="color: red;">Not enough bonuses</h5>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <h4 class="text-center final-price">Price: {{ final_price }} ₴</h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}